html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#startContainer {
	height: 200px;
	width: 100%;
	padding: 50px 30px;
	background-color: rgba(255,255,255,0.95);
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

input {
	margin-bottom: 0px;
}

h6 {
	margin-bottom: 25px;
}

#mapStart {
	height: 100%;
}

#mapMain {
	height: 250px;
	width: 250px;
}

#tripHeader {
	margin-left: 20px;
}

.dayHeader {
	font-weight: 500;
}