html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#startContainer {
	height: 25%;
	width: 100%;
	padding: 50px 30px;
	background-color: rgba(255,255,255,0.95);
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

input {
	margin-bottom: 0px;
}

h6 {
	margin-bottom: 25px;
}

#mapStart {
	height: 100%;
}

#mapMain {
	height: 700px;
	width: 100%;
	float: right;
	margin-top: 15px;

}

#tripHeader {
	margin-left: 20px;
}

#newEntry {
	overflow: auto;
	padding-left: 0px;
}

#tBody {
	height: 437px;
	width: 533px;
	overflow: scroll;
	padding-left: 0px;
}

.dayHeader {
	font-weight: 500;
}


.xyz {
	color: #fc9225;
    margin-right: 10px;
    width: 25px;
    padding-left: 7px;
    padding-top: 1px;
    height: 21px;
}

.pacinput2 {
	background-color: orange;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 100%;
	margin-top: 5px;
	position: fixed;
	color: white;
}

#sideTrip {
    padding: 0px 20px;
    color: #e65100;
    font-weight: 500;
    font-size: 18px;
}